<div class="page-wrapper chiller-theme" [ngClass]="[isOn === true ? 'toggled' : 'toggle']">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars" (click)="isOn ? isOn = false : isOn = true"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a href="#">Filter Data</a>
        <div id="close-sidebar" (click)="isOn=false">
          <i class="far fa-times-circle"></i>
        </div>
      </div>
      <!-- sidebar-header  -->
      <div class="sidebar-search">
        <div>
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Search Filter Criteria">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul>
          <ngb-accordion>
            <ngb-panel title="Impact" class="sidebar-dropdown">
              <ng-template ngbPanelContent>
                <div class="d-flex align-items-center justify-content-between">
                  <input type="checkbox" id="impact-1" name="impact-1" value="Impact Area Name 1">
                  <label for="impact-1" class="my-0 px-2"> Impact Area Name 1</label><br>
                  <span class="badge badge-pill badge-warning">1</span>
                </div>

                <div class="d-flex align-items-center justify-content-between">
                  <input type="checkbox" id="impact-2" name="impact-2" value="Impact Area Name 2">
                  <label for="impact-2" class="my-0 px-2"> Impact Area Name 2</label><br>
                  <span class="badge badge-pill badge-warning">20</span>
                </div>

                <div class="d-flex align-items-center justify-content-between">
                  <input type="checkbox" id="impact-3" name="impact-3" value="Impact Area Name 3">
                  <label for="impact-3" class="my-0 px-2"> Impact Area Name 3</label><br>
                  <span class="badge badge-pill badge-warning">100</span>
                </div>
                <!--use loop here to populate impact areas as checkboxes, note: here each checkbox will have a different id-->
              </ng-template>
            </ngb-panel>
            <ngb-panel title="Source" class="sidebar-dropdown">
              <span _ngcontent-pbe-c111="" class="badge badge-pill badge-warning">New</span>
              <ng-template ngbPanelContent>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                aute.
              </ng-template>
            </ngb-panel>
            <ngb-panel title="Type" class="sidebar-dropdown">
              
              <ng-template ngbPanelContent>
                <span _ngcontent-pbe-c111="" class="badge badge-pill badge-warning">New</span>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                aute.
              </ng-template>
            </ngb-panel>
            <ngb-panel title="Sentiment" class="sidebar-dropdown">
              <ng-template ngbPanelContent>
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                aute.
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
  </nav>
  <!-- sidebar-wrapper  -->
  <main class="page-content">
    <div class="container-fluid">
      <div class="source-location">
        Seattle ...
      </div>
      <div class="card sub-details">
        <div class="row">
          <span class="col-sm-12 location col-md-2">
            Seattle
          </span>
          <span class="col-sm-4 col-md-3 date">
            2/20/2020
          </span>
          <span class="col-md-4 col-sm-4 sources">
            From Twitter
          </span>
          <span class="col-sm-4 col-md-3 metadata text-right">
            Traffic
          </span>
        </div>
        <div class="row d-flex align-items-center">
          <span class="col-1 smiley text-center">
            <i class="far fa-smile"></i>
            <!--<i class="far fa-frown"></i>-->
            <!--<i class="far fa-meh"></i>-->
          </span>
          <span class="col-1 icon-comment text-center">
            <i class="far fa-comment-dots"></i>
          </span>
          <p class="col-10 inline-block my-0" title="orem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum ">
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
          </p>
        </div>
        <div class="row topics col-12 d-flex justify-content-center mt-3">
            <span class="pink">
              Inclusion
            </span>
            <span class="blue">
              Economics
            </span>
            <span class="red">
              Advances
            </span>
            <span class="green">
              Water
            </span>
        </div>
      </div>
      <div class="card sub-details">
        <div class="row">
          <span class="col-sm-12 location col-md-2">
            Seattle
          </span>
          <span class="col-sm-4 col-md-3 date">
            2/20/2020
          </span>
          <span class="col-md-4 col-sm-4 sources">
            From Twitter
          </span>
          <span class="col-sm-4 col-md-3 metadata text-right">
            Traffic
          </span>
        </div>
        <div class="row d-flex align-items-center">
          <span class="col-1 smiley text-center">
            <i class="far fa-smile"></i>
            <!--<i class="far fa-frown"></i>-->
            <!--<i class="far fa-meh"></i>-->
          </span>
          <span class="col-1 icon-comment text-center">
            <i class="far fa-comment-dots"></i>
          </span>
          <p class="col-10 inline-block my-0" title="orem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum ">
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
          </p>
        </div>
        <div class="row topics col-12 d-flex justify-content-center mt-3">
            <span class="pink">
              Inclusion
            </span>
            <span class="blue">
              Economics
            </span>
            <span class="red">
              Advances
            </span>
            <span class="green">
              Water
            </span>
        </div>
      </div>
      <div class="card sub-details">
        <div class="row">
          <span class="col-sm-12 location col-md-2">
            Seattle
          </span>
          <span class="col-sm-4 col-md-3 date">
            2/20/2020
          </span>
          <span class="col-md-4 col-sm-4 sources">
            From Twitter
          </span>
          <span class="col-sm-4 col-md-3 metadata text-right">
            Traffic
          </span>
        </div>
        <div class="row d-flex align-items-center">
          <span class="col-1 smiley text-center">
            <i class="far fa-smile"></i>
            <!--<i class="far fa-frown"></i>-->
            <!--<i class="far fa-meh"></i>-->
          </span>
          <span class="col-1 icon-comment text-center">
            <i class="far fa-comment-dots"></i>
          </span>
          <p class="col-10 inline-block my-0" title="orem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum ">
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
          </p>
        </div>
        <div class="row topics col-12 d-flex justify-content-center mt-3">
            <span class="pink">
              Inclusion
            </span>
            <span class="blue">
              Economics
            </span>
            <span class="red">
              Advances
            </span>
            <span class="green">
              Water
            </span>
        </div>
      </div>
      <div class="card sub-details">
        <div class="row">
          <span class="col-sm-12 location col-md-2">
            Seattle
          </span>
          <span class="col-sm-4 col-md-3 date">
            2/20/2020
          </span>
          <span class="col-md-4 col-sm-4 sources">
            From Twitter
          </span>
          <span class="col-sm-4 col-md-3 metadata text-right">
            Traffic
          </span>
        </div>
        <div class="row d-flex align-items-center">
          <span class="col-1 smiley text-center">
            <i class="far fa-smile"></i>
            <!--<i class="far fa-frown"></i>-->
            <!--<i class="far fa-meh"></i>-->
          </span>
          <span class="col-1 icon-comment text-center">
            <i class="far fa-comment-dots"></i>
          </span>
          <p class="col-10 inline-block my-0" title="orem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum ">
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
          </p>
        </div>
        <div class="row topics col-12 d-flex justify-content-center mt-3">
            <span class="pink">
              Inclusion
            </span>
            <span class="blue">
              Economics
            </span>
            <span class="red">
              Advances
            </span>
            <span class="green">
              Water
            </span>
        </div>
      </div>
      <div class="card sub-details">
        <div class="row">
          <span class="col-sm-12 location col-md-2">
            Seattle
          </span>
          <span class="col-sm-4 col-md-3 date">
            2/20/2020
          </span>
          <span class="col-md-4 col-sm-4 sources">
            From Twitter
          </span>
          <span class="col-sm-4 col-md-3 metadata text-right">
            Traffic
          </span>
        </div>
        <div class="row d-flex align-items-center">
          <span class="col-1 smiley text-center">
            <i class="far fa-smile"></i>
            <!--<i class="far fa-frown"></i>-->
            <!--<i class="far fa-meh"></i>-->
          </span>
          <span class="col-1 icon-comment text-center">
            <i class="far fa-comment-dots"></i>
          </span>
          <p class="col-10 inline-block my-0" title="orem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum ">
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
          </p>
        </div>
        <div class="row topics col-12 d-flex justify-content-center mt-3">
            <span class="pink">
              Inclusion
            </span>
            <span class="blue">
              Economics
            </span>
            <span class="red">
              Advances
            </span>
            <span class="green">
              Water
            </span>
        </div>
      </div>
      <div class="card sub-details">
        <div class="row">
          <span class="col-sm-12 location col-md-2">
            Seattle
          </span>
          <span class="col-sm-4 col-md-3 date">
            2/20/2020
          </span>
          <span class="col-md-4 col-sm-4 sources">
            From Twitter
          </span>
          <span class="col-sm-4 col-md-3 metadata text-right">
            Traffic
          </span>
        </div>
        <div class="row d-flex align-items-center">
          <span class="col-1 smiley text-center">
            <i class="far fa-smile"></i>
            <!--<i class="far fa-frown"></i>-->
            <!--<i class="far fa-meh"></i>-->
          </span>
          <span class="col-1 icon-comment text-center">
            <i class="far fa-comment-dots"></i>
          </span>
          <p class="col-10 inline-block my-0" title="orem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum ">
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
          </p>
        </div>
        <div class="row topics col-12 d-flex justify-content-center mt-3">
            <span class="pink">
              Inclusion
            </span>
            <span class="blue">
              Economics
            </span>
            <span class="red">
              Advances
            </span>
            <span class="green">
              Water
            </span>
        </div>
      </div>
      <div class="card sub-details">
        <div class="row">
          <span class="col-sm-12 location col-md-2">
            Seattle
          </span>
          <span class="col-sm-4 col-md-3 date">
            2/20/2020
          </span>
          <span class="col-md-4 col-sm-4 sources">
            From Twitter
          </span>
          <span class="col-sm-4 col-md-3 metadata text-right">
            Traffic
          </span>
        </div>
        <div class="row d-flex align-items-center">
          <span class="col-1 smiley text-center">
            <i class="far fa-smile"></i>
            <!--<i class="far fa-frown"></i>-->
            <!--<i class="far fa-meh"></i>-->
          </span>
          <span class="col-1 icon-comment text-center">
            <i class="far fa-comment-dots"></i>
          </span>
          <p class="col-10 inline-block my-0" title="orem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum ">
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
          </p>
        </div>
        <div class="row topics col-12 d-flex justify-content-center mt-3">
            <span class="pink">
              Inclusion
            </span>
            <span class="blue">
              Economics
            </span>
            <span class="red">
              Advances
            </span>
            <span class="green">
              Water
            </span>
        </div>
      </div>
      <div class="card sub-details">
        <div class="row">
          <span class="col-sm-12 location col-md-2">
            Seattle
          </span>
          <span class="col-sm-4 col-md-3 date">
            2/20/2020
          </span>
          <span class="col-md-4 col-sm-4 sources">
            From Twitter
          </span>
          <span class="col-sm-4 col-md-3 metadata text-right">
            Traffic
          </span>
        </div>
        <div class="row d-flex align-items-center">
          <span class="col-1 smiley text-center">
            <i class="far fa-smile"></i>
            <!--<i class="far fa-frown"></i>-->
            <!--<i class="far fa-meh"></i>-->
          </span>
          <span class="col-1 icon-comment text-center">
            <i class="far fa-comment-dots"></i>
          </span>
          <p class="col-10 inline-block my-0" title="orem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum ">
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
          </p>
        </div>
        <div class="row topics col-12 d-flex justify-content-center mt-3">
            <span class="pink">
              Inclusion
            </span>
            <span class="blue">
              Economics
            </span>
            <span class="red">
              Advances
            </span>
            <span class="green">
              Water
            </span>
        </div>
      </div>
      <div class="card sub-details">
        <div class="row">
          <span class="col-sm-12 location col-md-2">
            Seattle
          </span>
          <span class="col-sm-4 col-md-3 date">
            2/20/2020
          </span>
          <span class="col-md-4 col-sm-4 sources">
            From Twitter
          </span>
          <span class="col-sm-4 col-md-3 metadata text-right">
            Traffic
          </span>
        </div>
        <div class="row d-flex align-items-center">
          <span class="col-1 smiley text-center">
            <i class="far fa-smile"></i>
            <!--<i class="far fa-frown"></i>-->
            <!--<i class="far fa-meh"></i>-->
          </span>
          <span class="col-1 icon-comment text-center">
            <i class="far fa-comment-dots"></i>
          </span>
          <p class="col-10 inline-block my-0" title="orem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum ">
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
          </p>
        </div>
        <div class="row topics col-12 d-flex justify-content-center mt-3">
            <span class="pink">
              Inclusion
            </span>
            <span class="blue">
              Economics
            </span>
            <span class="red">
              Advances
            </span>
            <span class="green">
              Water
            </span>
        </div>
      </div>
      <div class="card sub-details">
        <div class="row">
          <span class="col-sm-12 location col-md-2">
            Seattle
          </span>
          <span class="col-sm-4 col-md-3 date">
            2/20/2020
          </span>
          <span class="col-md-4 col-sm-4 sources">
            From Twitter
          </span>
          <span class="col-sm-4 col-md-3 metadata text-right">
            Traffic
          </span>
        </div>
        <div class="row d-flex align-items-center">
          <span class="col-1 smiley text-center">
            <i class="far fa-smile"></i>
            <!--<i class="far fa-frown"></i>-->
            <!--<i class="far fa-meh"></i>-->
          </span>
          <span class="col-1 icon-comment text-center">
            <i class="far fa-comment-dots"></i>
          </span>
          <p class="col-10 inline-block my-0" title="orem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum ">
            lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum 
          </p>
        </div>
        <div class="row topics col-12 d-flex justify-content-center mt-3">
            <span class="pink">
              Inclusion
            </span>
            <span class="blue">
              Economics
            </span>
            <span class="red">
              Advances
            </span>
            <span class="green">
              Water
            </span>
        </div>
      </div>
 
    </div>

  </main>
  <!-- page-content" -->
</div>
